// BODY
$body-bg: #f5f8fa;

// TYPOGRAPHY
$font-family-base: 'Poppins', sans-serif;
$font-family-main: 'Rubik', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* COLORS */
$primary: #1685a7;
$green: #21bf48;
$red: #ed4758;
$black: #495057;
$white: #ffffff;
$gray: #9495ab;
$gray-light: #f1f3f4;

/* Blue */
$blue-100: #1c6589;
$blue-600: #138fb1;
$blue-700: #197699;
$blue-800: #1b6b8f;

/* GRAYS */
$gray-100: #97b8c8;
$gray-500: #dbdbdb;
$gray-600: #e8e8e8;
$gray-700: #efefef;
$gray-800: #edf4fd;
