.dropdown {
    .dropdown-menu {
        top: -30px !important;
        left: -8px !important;
        text-align: center;
        border: none;
        box-shadow: 0 0 10px rgb(0 0 0 / 6%), 0 4px 4px rgb(0 0 0 / 12%);
        font-family: $font-family-main;

        a {
            color: $blue-600 !important;

            &:active {
                background-color: $blue-600 !important;
                color: $white !important;
            }
        }

        @include media-breakpoint-down(md) {
            transform: translate3d(-95.6px, 69.8px, 0px) !important;
        }
    }

    &:hover {
        .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    }

    .dropdown-toggle {
        background: transparent !important;
        height: 100%;

        &:hover {
            background: transparent !important;
        }

        &::after {
            content: none;
        }

        > span {
            position: relative;
            top: -10px;
            margin-right: 5px;
            font-family: $font-family-main;

            i {
                font-size: 1rem;
                margin-left: 2px;
            }
        }

        .navbox {
            background-color: rgba(255, 255, 255, 0.06);
            display: inline-block;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            line-height: 2.6;

            span {
                position: relative;
                top: -5px;
                font-size: 1.675rem;
                font-weight: 500;
                letter-spacing: .5px;
                color: $white;
            }

            @include media-breakpoint-down(md) {
                height: 50px;
                width: 50px;

                span {
                    font-size: 1.475rem;
                }
            }
        }
    }
}
