main {
    margin-left: 150px;
    padding-top: 90px;
    font-family: $font-family-main !important;

    @include media-breakpoint-down(md) {
        margin-left: 0;
        padding-top: 72px;
        padding-bottom: 100px;
    }
}
